@keyframes float-shadow {
  0% {
    transform: translateY(8px);
    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
  }
  50% {
    transform: translateY(-8px);
    box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
  }
  100% {
    transform: translateY(8px);
    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
  }
}

@keyframes float-clean {
  0% {
    transform: translateY(-4px);
  }
  50% {
    transform: translateY(-8px);
  }
  100% {
    transform: translateY(-4px);
  }
}

/* .pagehead-wrap,
.page-links div {
  animation: float-shadow 5s infinite;
} */
