@keyframes float-vertical {
  0% {
    transform: translateY(-2px);
  }
  66% {
    transform: translateY(-6px);
  }
  100% {
    transform: translateY(-2px);
  }
}

.pagehead-wrap {
  animation: float-vertical 7s infinite ease-out;
}
