body {
	background-color: #7D787E;
	color: #d8d6d8;
}
.code-list {
	width: 315px;
	float: left;
	padding: 0 100px;
	margin: 0;
}
.footer-links li a {
	color: #d8d6d8;
}
#biopic {
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: -1;
}
#biopic img {
	max-width: 100vw;
	opacity: 0.33;
	filter: invert(100%);
}
@media screen and (max-width: 625px) {
	.svgs img {
		width: 16.66vw;
		margin: 15px 7.33333vw;
	}
}
@media screen and (max-width: 525px) {
	.sub-heading {
		font-size: 30px;
		line-height: 30px;
		position: relative;
		text-align: center;
		top: -25px;
	}
	.code-list {
		margin-top: 0;
		position: relative;
		padding-left: 25vw;
	}
}
