.header-color {
	background-color: #fbad4b;
}
.contact a {
	color: #fbad4b;
}
.title {
	color: #fbad4b;
}
.section {
	overflow: hidden;
}
.code-sample-text {
	font-size: 18px;
	padding: 0 10px;
}
.code-sample-text h3 {
	margin-top: 0;
	text-transform: capitalize;
	font-size: 35px;
	padding-top: 25px;
}
.code-image {
	width: auto;
	margin: 40px 3vw 0 3vw;
	border: 3px solid grey;
	padding: 0;
	border-top: none;
	border-bottom: none;
	box-shadow: 0 0 15px 0 rgba(0, 0, 0, .05);
}
.browser {
	height: 10px;
	background-color: grey;
}
.browser img {
	position: relative;
	top: -7px;
	left: 3px;
}
.code-sample-image {
	height: 300px;
	padding: 0;
}
.even-section .code-image {
	float: left;
}
.odd-section .code-image {
	float: right;
}
.odd-section .code-sample-text {
	text-align: right;
}
