
.title {
	color: white;
	font-size: 90px;
	line-height: 90px;
}
.subtitle {
	color: white;
	font-weight: lighter;
	position: relative;
	top: -10px;
	left: 115px;
}

#triangle {
	position: absolute;
	top: calc(50vh - 275px);
	left: calc(50vw - 45px);
	z-index: -2;
	height: 0;
	width: 0;
	border-top: 100px solid transparent;
  border-bottom: 350px solid transparent;
  border-left: 300px solid green;
	transform: rotate(-37deg);
}

#triangle-shadow {
	position: absolute;
	top: calc(50vh - 273px);
	left: calc(50vw - 39px);
	z-index: -3;
	height: 0;
	width: 0;
	border-top: 100px solid transparent;
  border-bottom: 350px solid transparent;
  border-left: 300px solid rgba(0, 0, 0, 0.25);
	transform: rotate(-37deg);
}

/* colors (keep for reference) */

.c4 {
	background-color: #414A4A;
}
.c1 {
	background-color: #569793;
}
.c3 {
	background-color: #B7D3D1;
}
.c2 {
	background-color: #2A4A48;
}
.c5 {
	background-color: #3B7D79;
}

@media screen and (max-width: 525px) {
	.title {
		font-size: 45px;
		line-height: 45px;
	}
	.subtitle {
		font-size: 15px;
		top: 0px;
		left: 0;
		margin-bottom: 20px;
	}
}
