#background {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -10;
	background: url("../images/focus.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
#background-color {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
	background: #D0F5FF;
	opacity: 0.75;
}
.pagehead-wrap {
	text-align: justify;
	margin-top: calc(50vh - 103px);
	margin-left: calc(50vw - 375px);
	padding-top: 15px;
	height: 138px;
	width: 750px;
	text-align: center;
	background-color: #97c0bd;
	border-radius: 5px;
	box-shadow: 2px 4px 2px rgba(0, 0, 0, 0.25);
}
.title-wrap {
	text-align: center;
}
.title {
	font-size: 100px;
}
.sub-heading {
	font-size: 50px;
	margin: 15px 0;
}
.title {
	color: white;
	font-size: 90px;
	line-height: 90px;
}
.subtitle {
	color: white;
	font-weight: lighter;
	position: relative;
	top: -10px;
	left: 115px;
}
#triangle {
	position: absolute;
	top: calc(50vh - 255px);
	left: calc(50vw - 75px);
	z-index: -2;
	height: 0;
	width: 0;
	border-top: 100px solid transparent;
  border-bottom: 350px solid transparent;
  border-left: 300px solid green;
	transform: rotate(7deg);
}
#triangle-shadow {
	position: absolute;
	top: calc(50vh - 253px);
	left: calc(50vw - 69px);
	z-index: -3;
	height: 0;
	width: 0;
	border-top: 100px solid transparent;
  border-bottom: 350px solid transparent;
  border-left: 300px solid rgba(0, 0, 0, 0.25);
	transform: rotate(7deg);
}
.page-links a {
	color: white;
	text-decoration: none;
	font-weight: normal;
	font-size: 1.5em;
}
.page-links div {
	padding: 7.5px 5px;
	background-color: blue;
	border-radius: 5px;
	width: 125px;
	text-align: center;
	box-shadow: 2px 4px 2px rgba(0, 0, 0, 0.25);
	position: fixed;
}
#about-link {
	top: calc(50vh + 85px);
	left: calc(50vw - 275px);
}
#portfolio-link {
	top: calc(50vh + 85px);
	right: calc(50vw - 275px);
}
@media screen and (max-width: 525px) {
	.title {
		font-size: 45px;
		line-height: 45px;
	}
	.subtitle {
		font-size: 15px;
		top: 0px;
		left: 0;
		margin-bottom: 20px;
	}
}
