
.title {
	color: white;
	font-size: 90px;
	line-height: 90px;
}
.subtitle {
	color: white;
	font-weight: lighter;
	position: relative;
	top: -10px;
	left: 115px;
}

/* colors (keep for reference) */

.c4 {
	background-color: #414A4A;
}
.c1 {
	background-color: #569793;
}
.c3 {
	background-color: #B7D3D1;
}
.c2 {
	background-color: #2A4A48;
}
.c5 {
	background-color: #3B7D79;
}

@media screen and (max-width: 525px) {
	.title {
		font-size: 45px;
		line-height: 45px;
	}
	.subtitle {
		font-size: 15px;
		top: 0px;
		left: 0;
		margin-bottom: 20px;
	}
}
