.pagehead-wrap {
  position: relative;
  left: -8vw;
}

.subtitle-wrap {
  left: 8vw;
}

@media screen and (min-width: 1128px) {
  .pagehead-wrap {
    left: -16vw;
  }

  .subtitle-wrap {
    left: 16vw;
  }
}

@media screen and (min-width: 1300px) {
  .pagehead-wrap {
    left: -24vw;
  }

  .subtitle-wrap {
    left: 24vw;
  }
}
