/* Globals */

h1 {
  font-size: 50px;
}

h2 {
  font-size: 30px;
}

h3 {
  text-align: center;
  margin: 0;
}

/* Flex-box */

/* Add margin whitespace on larger screens */
.container {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

/* Sections */

/* Samples */
.samples {
  width: 100%;
}

/* Changes the size of the descriptions to fit them under the images */
.description {
  margin-left: auto;
  margin-right: auto;
  max-width: 300px;
  padding-left: 10px;
  padding-right: 10px;
}
