* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body,
div,
li,
h1,
h2 {
  padding: 0;
  margin: 0;
  letter-spacing: 0.75px;
  font-family: 'Raleway', sans-serif;
}

h1 {
  font-family: 'Eczar', serif;
}

.row {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

header {
  z-index: -1;
}

.header-links {
  background-color: black;
}

.header-links ul {
  margin: 0;
  padding: 10px 15px;
}

.header-links li {
  color: white;
  list-style-type: none;
  font-size: 12px;
  text-transform: uppercase;
  padding: 2.5px 0;
}

.header-links a {
  color: white;
  text-decoration: none;
}

.title {
  font-weight: lighter;
}

article p {
  text-align: justify;
}
