/* Global styles */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: #444;
}

/* Reset input box styling */
input[type="text"] {
  margin: 0;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
}

input[type="text"]:focus {
  outline: none;
}

/* Set cursor to pointer for all non-link buttons */
#hamburger:hover,
.place-item:hover {
    cursor: pointer;
}

/* Individual styles */

#map-div {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
}

@media (max-width: 515px) {
    #map-div.with-popup {
        height: 30vh;
    }
}

@media (min-width: 516px) {
    #map-div.with-popup {
        width: 50vw;
    }
}

/* Top searchbar */

#search-container {
    background-color: white;
    position: fixed;
    width: 220px;
    top: 5px;
    margin: 0 5px;
    padding: 5px;
    box-shadow: 2px 2px 5px #888;
}

#hamburger {
    padding: 0 5px 0 2.5px;
}

#search-bar {
    position: relative;
    top: 0.5px;
    font-size: 16px;
}

#side-menu {
    display: none;
    position: relative;
    width: 100%
    right: 5px;
    top: 5px;
    max-height: 45vh;
    overflow: scroll;
    background-color: white;
}

#popup {
    position: absolute;
    padding: 5px 20px;
    overflow: scroll;
}

@media (max-width: 515px) {
    #popup {
        height: 70vh;
        width: 100vw;
        bottom: 0;
        box-shadow: inset 0 1px 5px #888;
    }
}

@media (min-width: 516px) {
    #popup {
        height: 100vh;
        width: 50vw;
        right: 0;
        box-shadow: inset 1px 0 5px #888;
    }
}

#popup-close {
    position: fixed;;
    right: 5px;
    top: 5px;
}

/* Keep the close button within the div in mobile view */
@media (max-width: 515px) {
    #popup-close {
        top: calc(30vh + 5px);
    }
}

#popup-head {
    text-align: center;
}

#popup-desc {
    text-align: justify;
}

/* Locations list */

.place-item {
    padding: 5px 0;
    border-top: 1px solid #bbb;
}

.place-bullet {
    padding: 0 3.5px;
    color: #bbb;
}
