header {
  position: fixed;
  left: 0;
  top: 0;
  width: 33.333vw;
  height: 100vh;
  background: url("../images/side.jpg") top left no-repeat;
}

.header-links {
  position: fixed;
  width: 100px;
  left: calc(33.333vw - 100px - 2vh);
  height: 110px;
  bottom: 5vh;
}

.title-wrap {
  position: relative;
  padding-top: 15px;
  width: 702.31px;
  left: calc(66.6666vw - 725px)
}

.title {
  font-size: 90px;
  line-height: 90px;
  white-space: nowrap;
  overflow: hidden;
}

.subtitle-wrap {
  position: relative;
  top: -13px;
}

.content {
  position: absolute;
  left: 34vw;
  width: 64vw;
}

article {
  width: 61.666vw;
  max-width: 700px;
  margin-left: 1vw;
}

/* Media queries */
@media screen and (max-width: 725px) {
  .title-wrap {
    width: 510.56;
    left: calc(66.6666vw - 530px)
  }

  .title {
    font-size: 65px;
    line-height: 65px;
  }
}
