.row {
  justify-content: center;
}

header {
  width: 100vw;
  height: 150px;
  background: url("../images/side.jpg") center center no-repeat;
}

.header-links {
  position: absolute;
  top: 150px;
  width: 100vw;
}

.header-links ul {
  margin: 0 auto;
  width: 375px;
}

.header-links li {
  display: inline;
  padding: 0 2vw;
}

.title {
  font-size: 45px;
  line-height: 45px;
  text-align: center;
  padding-top: 5px;
}

.subtitle {
  font-size: 18px;
  line-height: 18px;
  position: relative;
  top: -12px;
  left: 14px
}

.content {
  margin-top: 39px;
}

article {
  margin: 0 1.5vw;
}

@media screen and (max-width: 359px) {
  .title {
    font-size: 40px;
    line-height: 40px;
  }

  .subtitle {
    top: -11px;
    font-size: 15px;
  }
}
