<div class="app-wrapper">
  <div class="page-header">
    <h1 class="text-center">{{title}} <small>by {{author}}</small></h1>
  </div>

  <router-outlet></router-outlet>

  <div class="btn-group btn-group-justified bottom-buttons">
    <a (click)="goToPage('table')" class="btn btn-default">
      View All
    </a>
    <a (click)="goToPage('status')" class="btn btn-default">
      View by Status
    </a>
    <a (click)="goToPage('series')" class="btn btn-default">
      View by Series
    </a>
    <a (click)="goToPage('new-story')" class="btn btn-default">
      Add New Story
    </a>
  </div>
</div>
