<div *ngFor="let series of ids.series; let idx = index">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title">{{series}}</h2>
    </div>
    <div class="panel-body">
      <table class="table table-hover">

        <tr>
          <th class="table-title">Title</th>
          <th class="table-stat-ser">Status</th>
          <th class="table-desc">Description</th>
        </tr>

        <tr *ngFor="let story of stories">
          <td *ngIf="isInSeries(story, idx)" (click)="goToStory(story)" class="table-title">
            {{story.title}}
          </td>
          <td *ngIf="isInSeries(story, idx)" (click)="goToStory(story)" class="table-stat-ser">
            <span>{{ids.status[story.status]}}</span>
          </td>
          <td *ngIf="isInSeries(story, idx)" (click)="goToStory(story)" class="table-desc">
            {{story.desc}}
          </td>
        </tr>

      </table>
    </div>
  </div>
</div>
