<div *ngIf="displayStory">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title">{{displayStory.title}}</h2>
    </div>

    <div class="panel-body">
      <form>
        <div class="form-group">
          <label for="title">Title:</label>
          <input [(ngModel)]="displayStory.title" type="text" placeholder="title" class="form-control">
        </div>

        <div class="form-group">
          <label for="status">Status:</label>

          <div class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" class="btn btn-default">
              {{ids.status[displayStory.status]}}
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li *ngFor="let status of ids.status; let idx = index">
                <a (click)="changeStatus(idx)">{{status}}</a>
              </li>
            </ul>
          </div>
        </div>

        <div>
          <label for="series">Series:</label>
          <div class="form-group">
            <span *ngFor="let ser of displayStory.series; let idx = index">
              <div class="dropdown series-dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" class="btn btn-default">
                  {{ids.series[ser]}}
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li *ngFor="let series of ids.series; let idsIdx = index">
                    <a (click)="changeSeries(idx, idsIdx)">{{series}}</a>
                  </li>
                  <li role="separator" class="divider"></li>
                  <li><a (click)="removeSeries(idx)">
                    Remove Series
                  </a></li>
                </ul>
              </div>
            </span>

            <div class="dropdown series-dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" class="btn btn-default">
                Add New Series
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li *ngFor="let series of ids.series; let idx = index">
                  <a (click)="addSeries(idx)">{{series}}</a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="desc">Description:</label>
          <textarea class="form-control" rows="3" [(ngModel)]="displayStory.desc"></textarea>
        </div>
      </form>

      <button class="btn btn-default" (click)="saveStory()">
        Save Story
      </button>
      <button class="btn btn-default" (click)="removeStory()">
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        Remove Story
      </button>
    </div>
  </div>
</div>
