.table-title {
  width: 18%;
}

.table-status {
  width: 5%;
}

.table-series {
  width: 15%;
}

.table-stat-ser {
  width: 20%;
}

.table-desc {
  width: 62%;
}

@media screen and (max-width: 560px) {
  .table-desc {
    display: none;
  }
}
