/* Globals */

h1 {
  font-size: 35px;
  margin-top: 5px;
}

h2 {
  font-size: 30px;
  padding-bottom: 8px;
}

/* Sections */

/* Samples */
.description {
  padding-left: 15px;
  padding-right: 15px;
  min-width: 300px;
  max-width: 100%;
}

.col-md-4 {
  width: 50%;
}

.description {
  width: 50%;
}
